[submodule "contrib/flocoin"] 
  path = contrib/flocoin
  url = git://https://github.com/adymoloca/flocoin
[submodule "contrib/flocoin-detached-sigs"]
  path = contrib/flocoin-detached-sigs
  url = git://https://github.com/adymoloca/flocoin
[submodule "contrib/gitian-builder"]
  path = contrib/gitian-builder
  url = git://https://github.com/adymoloca/flocoin
[submodule "contrib/gitian.flo.sigs"]
  path = contrib/gitian.flo.sigs
  url = git://https://github.com/adymoloca/flocoin